.banner {
  width: 90%;
  height: 500px;
  text-align: center;
  margin: auto;
}

.logo-cont {
  margin-bottom: 25px;
}

.logo {
  max-width: 450px;
  background-color: rgba(255, 236, 167, 1.0);
  border-radius: 50%;
}

.title {
  color: black;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 5px;
  word-spacing: 10px;
}

.motto {
  color: black;
  font-weight: 300;
  font-size: 23px;
  letter-spacing: 5px;
  word-spacing: 10px;
}

@media (max-width: 950px) {
  .name {
    font-size: 100px;
  }
}

@media (max-width: 580px) {
  .name {
    font-size: 45px;
  }
  .motto {
    font-size: 18px;
  }
}
