.banner {
  width: 90%;
  height: 500px;
  text-align: center;
  margin: auto;
}

.logo-cont {
  margin: 0 auto 25px;
  max-width: 440px;
  height: 410px;
  background-color: #f9f3c2;
  border-radius: 50%;
}

.logo {
  max-width: 450px;
  margin-top: 12px;
}

.title {
  color: #f9f3c2;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 5px;
  word-spacing: 10px;
}

.motto {
  color: #f9f3c2;
  font-weight: 300;
  font-size: 23px;
  letter-spacing: 5px;
  word-spacing: 10px;
}

@media (max-width: 950px) {
  .name {
    font-size: 100px;
  }
}

@media (max-width: 580px) {
  .name {
    font-size: 45px;
  }
  .motto {
    font-size: 18px;
  }
}
