.banner {
  width: 90%;
  height: 500px;
  text-align: center;
  margin: auto;
}

.logo-cont {
  margin: 0 auto 25px;
  max-width: 325px;
  height: 300px;
  background-color: white;
  border-radius: 50%;
}

.logo {
  max-width: 300px;
  margin-top: 12px;
}

.title {
  color: black;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 5px;
  word-spacing: 10px;
}

.motto {
  color: black;
  font-weight: 300;
  font-size: 23px;
  letter-spacing: 5px;
  word-spacing: 10px;
}

@media (max-width: 950px) {
  .title {
    width: 500px;
  }
}

@media (max-width: 580px) {
  .logo-cont {
    max-width: 270px;
    height: 250px;
  }
  .logo {
    max-width: 250px;
    margin-top: 10px;
  }
  .title {
    width: 300px;
  }
  .motto {
    font-size: 18px;
  }
}
