nav {
  width: 100%;
  text-align: center;
  position: fixed;
  padding: 25px 0;
  background-color: rgba(40, 64, 26, 0.7);
  z-index: 100;
}

ol, ul {
  padding-left: 0;
  text-align: center;
}

li {
  display: inline-block;
}

.menu-btn {
  background: none;
  border: none;
  position: absolute;
  right: 30px;
  top: 20px;
  z-index: 200;
}

.menu-btn img {
  width: 25px;
}

.nav-bar {
  transition: all ease-out 0.5s;
}

.nav-cont {
  transition: all ease-out 0.5s;
  z-index: 100;
}

.nav {
  color: cornsilk;
  text-decoration: none;
  font-weight: 300;
  margin: 0 20px;
  font-size: 15px;
  transition: all .5s ease-in;
}

.nav:hover {
  letter-spacing: 1px;
  font-size: 16px;
}

@media (max-width: 700px) {
  nav {
    height: 25px;
  }

  nav li {
    display: block;
    padding-bottom: 10px;
  }

  .nav-cont {
    position: relative;
  }
}
