.about-cont {
  background-color: rgba(255, 255, 255, 0.9);
}

.about-cont h2 {
  font-size: 30px;
}

.about-cont h3 {
  font-size: 15px;
  margin-bottom: 10px;
}

.about-cont p {
  line-height: 20px;
}

.about-card {
  margin: auto;
  width: 80%;
  padding: 20px;
  display: flex;
  padding-top: 40px;
}

.about-img {
  max-width: 400px;
  border-radius: 50%;
  align-self: flex-start;
}

.about-txt {
  display: inline-block;
  width: 48%;
  height: 100%;
  vertical-align: middle;
  padding-left: 20px;
}

@media (max-width: 825px) {
  .about-card {
    display: inherit;
    text-align: center;
  }

  .about-txt {
    width: 100%;
    text-align: left;
  }
}

@media (max-width: 500px) {
  .about-img {
    max-width: 250px;
  }
}
