.about-cont {
  background-color: rgba(255, 255, 255, 0.9);
}

.about-card {
  padding: 20px;
}

.about-img {
  max-width: 400px;
  border-radius: 50%;
}

.about-txt {
  display: inline-block;
  width: 48%;
  height: 100%;
  vertical-align: top;
  padding: 10px;
}
