.events-cont {
  padding-top: 50px;
}

.events-cont h1 {
  padding-bottom: 65px;
}

.class-list {
  font-size: 18px;
  display: block;
}

.event-button {
  color: white;
  font-size: 22px;
  width: 500px;
  display: block;
  border: none;
  height: 100px;
  background-color: white;
  border-radius: 4px;
  margin: 0 auto 20px;
  transition: all .2s ease-in-out;
}

.purple {
  background-color: #9b305a;
}

.green {
  background-color: #a3ad23;
}

.brown {
  background-color: #885621;
}

.orange {
  background-color: #e77b0a;
}

.event-button:hover {
  transform: scale(1.05)
}

a {
  text-decoration: none;
}
