.book-cont {
  margin: auto;
  background-color: rgb(155, 48, 90);
  width: 90%;
  border-radius: 15px;
}

.book-img {
  max-width: 350px;
  align-self: flex-start;
  padding-right: 30px;
}

.book-title {
  max-width: 800px;
  text-align: center;
  margin: 40px 0 20px;
  font-size: 30px;
  color: white;
}

.book-desc {
  max-width: 800px;
  font-weight: 400;
  line-height: 20px;
  color: #fffbce;
}

@media (max-width: 825px) {
  .book-img {
    padding: 0;
  }
}

@media (max-width: 500px) {
  .book-img {
    max-width: 250px;
  }
}
