.book-cont {
  max-width: 800px;
  margin: 50px auto 125px;
}

.book {
  max-width: 800px;
}

.book-del {
  float: right;
}

@media (max-width: 800px) {
  .book-cont {
    margin: 50px auto;
  }

  .book, .book-cont {
    max-width: 500px;
  }
}

@media (max-width: 500px) {
  .book-cont {
    margin: 50px auto;
  }

  .book, .book-cont {
    max-width: 100%
  }
}
