.book-cont {
  margin: auto;
}

.book-title {
  max-width: 800px;
  text-align: center;
  margin: 10px;
  font-size: 20px;
}

.book-desc {
  max-width: 800px;
  font-weight: 300;
  line-height: 22px;
}
