html {
  background: url(../../resources/BB-background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  background-size: cover;
}

body {
  font-family: 'Lato', sans-serif;
}

.main-cont {
  position: relative;
  top: 160px;
}

.component {
  padding-bottom: 50px;
  padding-top: 25px;
}
