html {
  background: url(../../resources/BB-background-large.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  background-size: cover;
}

body {
  font-family: 'Lato', sans-serif;
}

.main-cont {
  position: relative;
  top: 160px;
}

.component {
  padding-bottom: 50px;
  padding-top: 25px;
}

@media (max-width: 720px) {
  html {
    background: url(../../resources/BB-background-small.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    background-size: cover;
  }
}
